@font-face {
    font-family: "Noto Emoji";
    src: url("../fonts/NotoEmoji.ttf");
}

.main-container {
	-fx-background-color: #1a1921;
}

.scroll-bar {
	-fx-background-color: transparent;
    -fx-background: transparent;
}

.scroll-bar:vertical {
	-fx-pref-width: 9px;
	/*-fx-padding: 3;*/
}

.scroll-bar:vertical .track {
    -fx-background: transparent;
	-fx-background-color: transparent;
	-fx-background-radius: 0;
}

.scroll-bar:vertical .thumb {
    -fx-background: transparent;
	-fx-background-color: #412ea3aa;
	-fx-background-radius: 0;
	-fx-max-width: 2;
}

.scroll-bar:vertical *.increment-arrow .content, 
.scroll-bar:vertical *.decrement-arrow .content {
	-fx-background-color: transparent;
    -fx-background: transparent;
}

.scroll-bar:vertical *.increment-arrow, 
.scroll-bar:vertical *.decrement-arrow {
	-fx-background-color: transparent;
    -fx-background: transparent;
	-fx-display: none;
	-fx-padding: 0 0 0 0;
}


.scroll-bar:vertical *.increment-button,
.scroll-bar:vertical *.decrement-button {
	-fx-background-color: transparent;
    -fx-background: transparent;
	-fx-display: none;
	-fx-background-insets: 0 0 0 0, 0 0 0 0, 0 0 0 0;
	-fx-pref-width: 0px;
	-fx-pref-height: 0px;
}

.scroll-pane .corner {
	-fx-background-color: transparent;
    -fx-background: transparent;
}

.scroll-pane {
	-fx-background-color: #1d1930;
    -fx-background: #1d1930;
    -fx-border-color: #412ea355;
}

.scroll-pane .content {
	/*-fx-background: transparent;*/
}

.scroll-pane > .viewport {
   /*-fx-background: transparent;*/
}

.chat-box {
	-fx-background-color: transparent;
	-fx-font-size: 20;
	-fx-font-family: "Noto Emoji";
	-fx-text-fill: white;
	-fx-border-width: 1;
	-fx-border-color: white;
	-fx-font-weight: 500;
}